body {
    font-size: 16px;
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #212112;
}

h1 {
    font-size: 2rem;
    color: #000;
}

h2 {
    font-size: 1.75rem;
    color: #000;
}

h3 {
    font-size: 1.25rem;
    color: #000;
}


/* HEADER */

.topheader__socials {}

.topheader__menu {
    width: 100%;
    height: 60px;
    background-color: #E0FFFF;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 3px 4px rgba(0, 0, 0, .12), 0 4px 5px rgba(0, 0, 0, .24);
    padding: 0 16px;
    z-index: 12;
}

.topheader__menulist {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    font-weight: bold;
    font-size: 1.25rem;
}

.topheader__offer {
    border: none;
    margin: none;
    background-color: transparent;
    font-weight: bold;
    font-size: 1.25rem;
    cursor: pointer;
}

.topheader__title {}

.topheader__nav {
    position: fixed;
    left: 0;
    top: 60px;
    max-width: 80vw;
    width: 400px;
    height: calc(100vh - 60px);
    background-color: #A9E5E5;
    z-index: 1;
    overflow-y: scroll;
}

.topheader__navlist {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.topheader__navitem {
    display: flex;
    align-items: center;
    min-height: 3rem;
    width: 100%;
    padding: .5rem 1rem;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid #00AED2;
    transition: 300ms ease-in-out background-color;
}

.topheader__navitem:hover,
.topheader__navitem:focus {
    background-color: #00AED2;
}

.topheader__background {
    border: none;
    margin: none;
    background-color: rgba(0, 0, 0, .5);
    cursor: pointer;
    width: 100vw;
    height: calc(100vh - 60px);
    position: fixed;
    left: 0;
    top: 60px;
}

@keyframes navitemSlideRight {}

@keyframes navItemSlideLeft {}

@keyframes backgroundSlideRight {}

@keyframes backgroundSlideLeft {}