.footer {
    background-color: $main_light;
    width: 100%;
    box-shadow: 0 -3px 4px rgba(0, 0, 0, .12), 0 -4px 5px rgba(0, 0, 0, .24);
    padding: 1rem;
    & .contact {
        &__item {
            margin: 1rem 0;
            &:first-of-type {
                margin-top: .5rem;
            }
        }
        &__subtitle {
            font-weight: bold;
        }
        &__data {
            &:not(:first-of-type) {
                margin-top: .5rem;
            }
        }
    }
    &__item {
        margin: 2rem 0;
    }
    &__subtitle {
        font-weight: bold;
    }
    &__mapitem {
        margin: .5rem 0;
    }
    &__link {
        color: #707070;
    }
}