.postlist {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem 1rem;
    align-items: stretch;
    &__imageContainer {
        width: 100%;
        background-color: $main_dark;
        box-shadow: 0 0 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .24);
        padding: .5rem 1rem;
        &>img {
            width: 100%;
            height: auto;
        }
    }
    &__title {
        margin-top: 8px;
        margin-bottom: 4px;
        padding: 0 1rem;
    }
    &__excerpt {
        padding: 0 1rem;
    }
}

@media(min-width: 568px) {
    .postlist {
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width: 1366px) {
    .postlist {
        grid-template-columns: 1fr 1fr 1fr;
    }
}