$main_light: #0190E0;
$main_dark: #0A9BF0;
$main_complementary_light: #F0EB22; //d4af37
$light_text_color: #fff;
$light_headline_color: #fff;
$dark_text_color: #212121;
$dark_headline_color: #000;
$link_lighter_color: #303030;
$link_color: #FBD800;
$link_color_hover: #A3A00F;