$main_light: #0f4c81;
$main_dark: #0f3d81;
$main_complementary_light: #FD9D67; //d4af37
$light_text_color: #fff;
$light_headline_color: #fff;
$dark_text_color: #212121;
$dark_headline_color: #000;
$link_lighter_color: #303030;
$link_color: #ff650d;
$link_color_hover: #FD9D67;