$main_light: #0f4c81;
$main_dark: #0B61A6;
$main_complementary_light: #f0c05a;
$light_text_color: #fff;
$light_headline_color: #fff;
$dark_text_color: #212121;
$dark_headline_color: #000;
$link_color: #a0a0a0; //ff6f61 dd4124
$link_lighter_color: #303030;
$link_color: #f0f0f0;
$link_color_hover: #c0c0c0;